.banner {
    background-image: url("https://static.timesofisrael.com/www/uploads/2020/12/iStock-1090872318-1024x640.jpg");
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}

.banner h1 {
    color: white;
}

.banner p {
  color: white;
  opacity: 1;
  font-size: 20px;
  background-color: grey;
}

.btn-primary {
  display: inline-block;
  background-color: #1EDD88;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}
 .btn-primary:hover {
   opacity: 0.8;
 }
